<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjy.springboot.mapper.TArticleMapper">
  <resultMap id="BaseResultMap" type="com.zjy.springboot.pojo.TArticle">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="PIC" jdbcType="VARCHAR" property="pic" />
    <result column="AUTHOR" jdbcType="DECIMAL" property="author" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="COMMENTNUM" jdbcType="DECIMAL" property="commentnum" />
    <result column="GOODNUM" jdbcType="DECIMAL" property="goodnum" />
    <result column="BADNUM" jdbcType="DECIMAL" property="badnum" />
    <result column="COLLECTNUM" jdbcType="DECIMAL" property="collectnum" />
    <result column="VIEWNUM" jdbcType="DECIMAL" property="viewnum" />
    <result column="POSTBARID" jdbcType="DECIMAL" property="postbarid" />
    <result column="RECOMMEND" jdbcType="CHAR" property="recommend" />
    <result column="TOP" jdbcType="CHAR" property="top" />
    <result column="LASTCOMMENT" jdbcType="DECIMAL" property="lastcomment" />
    <result column="LASTCOMMENTTIME" jdbcType="TIMESTAMP" property="lastcommenttime" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="BAK1" jdbcType="VARCHAR" property="bak1" />
    <result column="BAK2" jdbcType="VARCHAR" property="bak2" />
    <result column="BAK3" jdbcType="VARCHAR" property="bak3" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zjy.springboot.pojo.TArticle">
    <result column="CONTENT" jdbcType="CLOB" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, TITLE, DESCRIPTION, PIC, AUTHOR, UPDATETIME, CREATETIME, COMMENTNUM, GOODNUM, 
    BADNUM, COLLECTNUM, VIEWNUM, POSTBARID, RECOMMEND, TOP, LASTCOMMENT, LASTCOMMENTTIME, 
    STATUS, BAK1, BAK2, BAK3
  </sql>
  <sql id="Blob_Column_List">
    CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.zjy.springboot.pojo.TArticleExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_ARTICLE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.zjy.springboot.pojo.TArticleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_ARTICLE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from T_ARTICLE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from T_ARTICLE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.zjy.springboot.pojo.TArticleExample">
    delete from T_ARTICLE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zjy.springboot.pojo.TArticle">
    insert into T_ARTICLE (ID, TITLE, DESCRIPTION, 
      PIC, AUTHOR, UPDATETIME, 
      CREATETIME, COMMENTNUM, GOODNUM, 
      BADNUM, COLLECTNUM, VIEWNUM, 
      POSTBARID, RECOMMEND, TOP, 
      LASTCOMMENT, LASTCOMMENTTIME, STATUS, 
      BAK1, BAK2, BAK3, CONTENT
      )
    values (#{id,jdbcType=DECIMAL}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{pic,jdbcType=VARCHAR}, #{author,jdbcType=DECIMAL}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{createtime,jdbcType=TIMESTAMP}, #{commentnum,jdbcType=DECIMAL}, #{goodnum,jdbcType=DECIMAL}, 
      #{badnum,jdbcType=DECIMAL}, #{collectnum,jdbcType=DECIMAL}, #{viewnum,jdbcType=DECIMAL}, 
      #{postbarid,jdbcType=DECIMAL}, #{recommend,jdbcType=CHAR}, #{top,jdbcType=CHAR}, 
      #{lastcomment,jdbcType=DECIMAL}, #{lastcommenttime,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR}, 
      #{bak1,jdbcType=VARCHAR}, #{bak2,jdbcType=VARCHAR}, #{bak3,jdbcType=VARCHAR}, #{content,jdbcType=CLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zjy.springboot.pojo.TArticle">
    insert into T_ARTICLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="pic != null">
        PIC,
      </if>
      <if test="author != null">
        AUTHOR,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="commentnum != null">
        COMMENTNUM,
      </if>
      <if test="goodnum != null">
        GOODNUM,
      </if>
      <if test="badnum != null">
        BADNUM,
      </if>
      <if test="collectnum != null">
        COLLECTNUM,
      </if>
      <if test="viewnum != null">
        VIEWNUM,
      </if>
      <if test="postbarid != null">
        POSTBARID,
      </if>
      <if test="recommend != null">
        RECOMMEND,
      </if>
      <if test="top != null">
        TOP,
      </if>
      <if test="lastcomment != null">
        LASTCOMMENT,
      </if>
      <if test="lastcommenttime != null">
        LASTCOMMENTTIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="bak1 != null">
        BAK1,
      </if>
      <if test="bak2 != null">
        BAK2,
      </if>
      <if test="bak3 != null">
        BAK3,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=DECIMAL},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="commentnum != null">
        #{commentnum,jdbcType=DECIMAL},
      </if>
      <if test="goodnum != null">
        #{goodnum,jdbcType=DECIMAL},
      </if>
      <if test="badnum != null">
        #{badnum,jdbcType=DECIMAL},
      </if>
      <if test="collectnum != null">
        #{collectnum,jdbcType=DECIMAL},
      </if>
      <if test="viewnum != null">
        #{viewnum,jdbcType=DECIMAL},
      </if>
      <if test="postbarid != null">
        #{postbarid,jdbcType=DECIMAL},
      </if>
      <if test="recommend != null">
        #{recommend,jdbcType=CHAR},
      </if>
      <if test="top != null">
        #{top,jdbcType=CHAR},
      </if>
      <if test="lastcomment != null">
        #{lastcomment,jdbcType=DECIMAL},
      </if>
      <if test="lastcommenttime != null">
        #{lastcommenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="bak1 != null">
        #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null">
        #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null">
        #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zjy.springboot.pojo.TArticleExample" resultType="java.lang.Long">
    select count(*) from T_ARTICLE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update T_ARTICLE
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.title != null">
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.pic != null">
        PIC = #{record.pic,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null">
        AUTHOR = #{record.author,jdbcType=DECIMAL},
      </if>
      <if test="record.updatetime != null">
        UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createtime != null">
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.commentnum != null">
        COMMENTNUM = #{record.commentnum,jdbcType=DECIMAL},
      </if>
      <if test="record.goodnum != null">
        GOODNUM = #{record.goodnum,jdbcType=DECIMAL},
      </if>
      <if test="record.badnum != null">
        BADNUM = #{record.badnum,jdbcType=DECIMAL},
      </if>
      <if test="record.collectnum != null">
        COLLECTNUM = #{record.collectnum,jdbcType=DECIMAL},
      </if>
      <if test="record.viewnum != null">
        VIEWNUM = #{record.viewnum,jdbcType=DECIMAL},
      </if>
      <if test="record.postbarid != null">
        POSTBARID = #{record.postbarid,jdbcType=DECIMAL},
      </if>
      <if test="record.recommend != null">
        RECOMMEND = #{record.recommend,jdbcType=CHAR},
      </if>
      <if test="record.top != null">
        TOP = #{record.top,jdbcType=CHAR},
      </if>
      <if test="record.lastcomment != null">
        LASTCOMMENT = #{record.lastcomment,jdbcType=DECIMAL},
      </if>
      <if test="record.lastcommenttime != null">
        LASTCOMMENTTIME = #{record.lastcommenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.bak1 != null">
        BAK1 = #{record.bak1,jdbcType=VARCHAR},
      </if>
      <if test="record.bak2 != null">
        BAK2 = #{record.bak2,jdbcType=VARCHAR},
      </if>
      <if test="record.bak3 != null">
        BAK3 = #{record.bak3,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        CONTENT = #{record.content,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update T_ARTICLE
    set ID = #{record.id,jdbcType=DECIMAL},
      TITLE = #{record.title,jdbcType=VARCHAR},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      PIC = #{record.pic,jdbcType=VARCHAR},
      AUTHOR = #{record.author,jdbcType=DECIMAL},
      UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      COMMENTNUM = #{record.commentnum,jdbcType=DECIMAL},
      GOODNUM = #{record.goodnum,jdbcType=DECIMAL},
      BADNUM = #{record.badnum,jdbcType=DECIMAL},
      COLLECTNUM = #{record.collectnum,jdbcType=DECIMAL},
      VIEWNUM = #{record.viewnum,jdbcType=DECIMAL},
      POSTBARID = #{record.postbarid,jdbcType=DECIMAL},
      RECOMMEND = #{record.recommend,jdbcType=CHAR},
      TOP = #{record.top,jdbcType=CHAR},
      LASTCOMMENT = #{record.lastcomment,jdbcType=DECIMAL},
      LASTCOMMENTTIME = #{record.lastcommenttime,jdbcType=TIMESTAMP},
      STATUS = #{record.status,jdbcType=CHAR},
      BAK1 = #{record.bak1,jdbcType=VARCHAR},
      BAK2 = #{record.bak2,jdbcType=VARCHAR},
      BAK3 = #{record.bak3,jdbcType=VARCHAR},
      CONTENT = #{record.content,jdbcType=CLOB}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update T_ARTICLE
    set ID = #{record.id,jdbcType=DECIMAL},
      TITLE = #{record.title,jdbcType=VARCHAR},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      PIC = #{record.pic,jdbcType=VARCHAR},
      AUTHOR = #{record.author,jdbcType=DECIMAL},
      UPDATETIME = #{record.updatetime,jdbcType=TIMESTAMP},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      COMMENTNUM = #{record.commentnum,jdbcType=DECIMAL},
      GOODNUM = #{record.goodnum,jdbcType=DECIMAL},
      BADNUM = #{record.badnum,jdbcType=DECIMAL},
      COLLECTNUM = #{record.collectnum,jdbcType=DECIMAL},
      VIEWNUM = #{record.viewnum,jdbcType=DECIMAL},
      POSTBARID = #{record.postbarid,jdbcType=DECIMAL},
      RECOMMEND = #{record.recommend,jdbcType=CHAR},
      TOP = #{record.top,jdbcType=CHAR},
      LASTCOMMENT = #{record.lastcomment,jdbcType=DECIMAL},
      LASTCOMMENTTIME = #{record.lastcommenttime,jdbcType=TIMESTAMP},
      STATUS = #{record.status,jdbcType=CHAR},
      BAK1 = #{record.bak1,jdbcType=VARCHAR},
      BAK2 = #{record.bak2,jdbcType=VARCHAR},
      BAK3 = #{record.bak3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjy.springboot.pojo.TArticle">
    update T_ARTICLE
    <set>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        PIC = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        AUTHOR = #{author,jdbcType=DECIMAL},
      </if>
      <if test="updatetime != null">
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="commentnum != null">
        COMMENTNUM = #{commentnum,jdbcType=DECIMAL},
      </if>
      <if test="goodnum != null">
        GOODNUM = #{goodnum,jdbcType=DECIMAL},
      </if>
      <if test="badnum != null">
        BADNUM = #{badnum,jdbcType=DECIMAL},
      </if>
      <if test="collectnum != null">
        COLLECTNUM = #{collectnum,jdbcType=DECIMAL},
      </if>
      <if test="viewnum != null">
        VIEWNUM = #{viewnum,jdbcType=DECIMAL},
      </if>
      <if test="postbarid != null">
        POSTBARID = #{postbarid,jdbcType=DECIMAL},
      </if>
      <if test="recommend != null">
        RECOMMEND = #{recommend,jdbcType=CHAR},
      </if>
      <if test="top != null">
        TOP = #{top,jdbcType=CHAR},
      </if>
      <if test="lastcomment != null">
        LASTCOMMENT = #{lastcomment,jdbcType=DECIMAL},
      </if>
      <if test="lastcommenttime != null">
        LASTCOMMENTTIME = #{lastcommenttime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="bak1 != null">
        BAK1 = #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null">
        BAK2 = #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null">
        BAK3 = #{bak3,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=CLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zjy.springboot.pojo.TArticle">
    update T_ARTICLE
    set TITLE = #{title,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      PIC = #{pic,jdbcType=VARCHAR},
      AUTHOR = #{author,jdbcType=DECIMAL},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      COMMENTNUM = #{commentnum,jdbcType=DECIMAL},
      GOODNUM = #{goodnum,jdbcType=DECIMAL},
      BADNUM = #{badnum,jdbcType=DECIMAL},
      COLLECTNUM = #{collectnum,jdbcType=DECIMAL},
      VIEWNUM = #{viewnum,jdbcType=DECIMAL},
      POSTBARID = #{postbarid,jdbcType=DECIMAL},
      RECOMMEND = #{recommend,jdbcType=CHAR},
      TOP = #{top,jdbcType=CHAR},
      LASTCOMMENT = #{lastcomment,jdbcType=DECIMAL},
      LASTCOMMENTTIME = #{lastcommenttime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=CHAR},
      BAK1 = #{bak1,jdbcType=VARCHAR},
      BAK2 = #{bak2,jdbcType=VARCHAR},
      BAK3 = #{bak3,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=CLOB}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjy.springboot.pojo.TArticle">
    update T_ARTICLE
    set TITLE = #{title,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      PIC = #{pic,jdbcType=VARCHAR},
      AUTHOR = #{author,jdbcType=DECIMAL},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      COMMENTNUM = #{commentnum,jdbcType=DECIMAL},
      GOODNUM = #{goodnum,jdbcType=DECIMAL},
      BADNUM = #{badnum,jdbcType=DECIMAL},
      COLLECTNUM = #{collectnum,jdbcType=DECIMAL},
      VIEWNUM = #{viewnum,jdbcType=DECIMAL},
      POSTBARID = #{postbarid,jdbcType=DECIMAL},
      RECOMMEND = #{recommend,jdbcType=CHAR},
      TOP = #{top,jdbcType=CHAR},
      LASTCOMMENT = #{lastcomment,jdbcType=DECIMAL},
      LASTCOMMENTTIME = #{lastcommenttime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=CHAR},
      BAK1 = #{bak1,jdbcType=VARCHAR},
      BAK2 = #{bak2,jdbcType=VARCHAR},
      BAK3 = #{bak3,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>