<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjy.springboot.mapper.TPaperHistoryMapper">
  <resultMap id="BaseResultMap" type="com.zjy.springboot.pojo.TPaperHistory">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="TEST_PAPER_INFO_ID" jdbcType="DECIMAL" property="testPaperInfoId" />
    <result column="SI_ANSWERS" jdbcType="VARCHAR" property="siAnswers" />
    <result column="OI_ANSWERS" jdbcType="VARCHAR" property="oiAnswers" />
    <result column="SYS_USER_ID" jdbcType="DECIMAL" property="sysUserId" />
    <result column="SYS_TEACHER_ID" jdbcType="DECIMAL" property="sysTeacherId" />
    <result column="SCORE" jdbcType="DECIMAL" property="score" />
    <result column="EVALUATE" jdbcType="VARCHAR" property="evaluate" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="BAK1" jdbcType="VARCHAR" property="bak1" />
    <result column="BAK2" jdbcType="VARCHAR" property="bak2" />
    <result column="BAK3" jdbcType="VARCHAR" property="bak3" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, TEST_PAPER_INFO_ID, SI_ANSWERS, OI_ANSWERS, SYS_USER_ID, SYS_TEACHER_ID, SCORE, 
    EVALUATE, STATUS, CREATETIME, BAK1, BAK2, BAK3
  </sql>
  <select id="selectByExample" parameterType="com.zjy.springboot.pojo.TPaperHistoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_PAPER_HISTORY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_PAPER_HISTORY
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from T_PAPER_HISTORY
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.zjy.springboot.pojo.TPaperHistoryExample">
    delete from T_PAPER_HISTORY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zjy.springboot.pojo.TPaperHistory">
    insert into T_PAPER_HISTORY (ID, TEST_PAPER_INFO_ID, SI_ANSWERS, 
      OI_ANSWERS, SYS_USER_ID, SYS_TEACHER_ID, 
      SCORE, EVALUATE, STATUS, 
      CREATETIME, BAK1, BAK2, 
      BAK3)
    values (#{id,jdbcType=DECIMAL}, #{testPaperInfoId,jdbcType=DECIMAL}, #{siAnswers,jdbcType=VARCHAR}, 
      #{oiAnswers,jdbcType=VARCHAR}, #{sysUserId,jdbcType=DECIMAL}, #{sysTeacherId,jdbcType=DECIMAL}, 
      #{score,jdbcType=DECIMAL}, #{evaluate,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{bak1,jdbcType=VARCHAR}, #{bak2,jdbcType=VARCHAR}, 
      #{bak3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zjy.springboot.pojo.TPaperHistory">
    insert into T_PAPER_HISTORY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="testPaperInfoId != null">
        TEST_PAPER_INFO_ID,
      </if>
      <if test="siAnswers != null">
        SI_ANSWERS,
      </if>
      <if test="oiAnswers != null">
        OI_ANSWERS,
      </if>
      <if test="sysUserId != null">
        SYS_USER_ID,
      </if>
      <if test="sysTeacherId != null">
        SYS_TEACHER_ID,
      </if>
      <if test="score != null">
        SCORE,
      </if>
      <if test="evaluate != null">
        EVALUATE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="bak1 != null">
        BAK1,
      </if>
      <if test="bak2 != null">
        BAK2,
      </if>
      <if test="bak3 != null">
        BAK3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="testPaperInfoId != null">
        #{testPaperInfoId,jdbcType=DECIMAL},
      </if>
      <if test="siAnswers != null">
        #{siAnswers,jdbcType=VARCHAR},
      </if>
      <if test="oiAnswers != null">
        #{oiAnswers,jdbcType=VARCHAR},
      </if>
      <if test="sysUserId != null">
        #{sysUserId,jdbcType=DECIMAL},
      </if>
      <if test="sysTeacherId != null">
        #{sysTeacherId,jdbcType=DECIMAL},
      </if>
      <if test="score != null">
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="evaluate != null">
        #{evaluate,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="bak1 != null">
        #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null">
        #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null">
        #{bak3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zjy.springboot.pojo.TPaperHistoryExample" resultType="java.lang.Long">
    select count(*) from T_PAPER_HISTORY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update T_PAPER_HISTORY
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.testPaperInfoId != null">
        TEST_PAPER_INFO_ID = #{record.testPaperInfoId,jdbcType=DECIMAL},
      </if>
      <if test="record.siAnswers != null">
        SI_ANSWERS = #{record.siAnswers,jdbcType=VARCHAR},
      </if>
      <if test="record.oiAnswers != null">
        OI_ANSWERS = #{record.oiAnswers,jdbcType=VARCHAR},
      </if>
      <if test="record.sysUserId != null">
        SYS_USER_ID = #{record.sysUserId,jdbcType=DECIMAL},
      </if>
      <if test="record.sysTeacherId != null">
        SYS_TEACHER_ID = #{record.sysTeacherId,jdbcType=DECIMAL},
      </if>
      <if test="record.score != null">
        SCORE = #{record.score,jdbcType=DECIMAL},
      </if>
      <if test="record.evaluate != null">
        EVALUATE = #{record.evaluate,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.createtime != null">
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bak1 != null">
        BAK1 = #{record.bak1,jdbcType=VARCHAR},
      </if>
      <if test="record.bak2 != null">
        BAK2 = #{record.bak2,jdbcType=VARCHAR},
      </if>
      <if test="record.bak3 != null">
        BAK3 = #{record.bak3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update T_PAPER_HISTORY
    set ID = #{record.id,jdbcType=DECIMAL},
      TEST_PAPER_INFO_ID = #{record.testPaperInfoId,jdbcType=DECIMAL},
      SI_ANSWERS = #{record.siAnswers,jdbcType=VARCHAR},
      OI_ANSWERS = #{record.oiAnswers,jdbcType=VARCHAR},
      SYS_USER_ID = #{record.sysUserId,jdbcType=DECIMAL},
      SYS_TEACHER_ID = #{record.sysTeacherId,jdbcType=DECIMAL},
      SCORE = #{record.score,jdbcType=DECIMAL},
      EVALUATE = #{record.evaluate,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=CHAR},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      BAK1 = #{record.bak1,jdbcType=VARCHAR},
      BAK2 = #{record.bak2,jdbcType=VARCHAR},
      BAK3 = #{record.bak3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjy.springboot.pojo.TPaperHistory">
    update T_PAPER_HISTORY
    <set>
      <if test="testPaperInfoId != null">
        TEST_PAPER_INFO_ID = #{testPaperInfoId,jdbcType=DECIMAL},
      </if>
      <if test="siAnswers != null">
        SI_ANSWERS = #{siAnswers,jdbcType=VARCHAR},
      </if>
      <if test="oiAnswers != null">
        OI_ANSWERS = #{oiAnswers,jdbcType=VARCHAR},
      </if>
      <if test="sysUserId != null">
        SYS_USER_ID = #{sysUserId,jdbcType=DECIMAL},
      </if>
      <if test="sysTeacherId != null">
        SYS_TEACHER_ID = #{sysTeacherId,jdbcType=DECIMAL},
      </if>
      <if test="score != null">
        SCORE = #{score,jdbcType=DECIMAL},
      </if>
      <if test="evaluate != null">
        EVALUATE = #{evaluate,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="bak1 != null">
        BAK1 = #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null">
        BAK2 = #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null">
        BAK3 = #{bak3,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjy.springboot.pojo.TPaperHistory">
    update T_PAPER_HISTORY
    set TEST_PAPER_INFO_ID = #{testPaperInfoId,jdbcType=DECIMAL},
      SI_ANSWERS = #{siAnswers,jdbcType=VARCHAR},
      OI_ANSWERS = #{oiAnswers,jdbcType=VARCHAR},
      SYS_USER_ID = #{sysUserId,jdbcType=DECIMAL},
      SYS_TEACHER_ID = #{sysTeacherId,jdbcType=DECIMAL},
      SCORE = #{score,jdbcType=DECIMAL},
      EVALUATE = #{evaluate,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      BAK1 = #{bak1,jdbcType=VARCHAR},
      BAK2 = #{bak2,jdbcType=VARCHAR},
      BAK3 = #{bak3,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>